body {
  font-family: 'Noto Serif SC', serif;
  text-align: justify;
  background-color: rgba(210, 77, 87, 1);
}
h2 {
  text-align: center;
}
/* Start from mobile device, standard body color (red). @media BUT! if your screen is larger dan 300px and smaller than 768px display green */
@media screen and (max-width : 300px) {
     body{
      font-size: 5px;
      display: flex;
      flex-direction: column;
    }
    /* #medium, #large {
      display: none;
    } So only the content of div small will be displayed */
}
@media screen and (min-width : 300px) and (max-width : 768px){
    body{
    background-color: rgba(63, 195, 128, 1);
    font-size: 10px;
    display: flex;
    flex-flow: row wrap;
    }
    #small  {
      flex: 2;
    }
    #medium {
      flex: 1;
    }
    #small, #medium, #large {
      margin: 10px;
    }

    /* #small, #large{
      display: none;
    }  So only the content of div medium will be displayed */
  }
@media screen and (min-width : 768px) {
    body{
    background-color: rgba(0, 181, 204, 1);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    }
    #small, #medium, #large {
      margin: 10px;
    }
    /* #small, #medium {
      display: none;
    } So only the content of div large will be displayed */
  } 



